





/* DIMENSIONI */
/* Tablet: da 768px
Desktop: da 992px */







/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




/* BODY */




body{
    font-family: 'PT Sans', sans-serif;
}




/* COMMON */




h3{
    color: #0486fd;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

a{
    text-decoration: none;
}

.big-title{
    color: white;
    font-size: 2rem;
}




/* HEADER */




/* BACKGROUND */

.header-background{
    background-color: #0084fd;
}

/* CONTAINER */

.header-container{
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

/* HEADER SPACINGS */

.header-spacings{
    margin-bottom: 3rem;
}

/* LOGO */

.logo{
    width: calc(50% / 2);
    
    /* TEST */
    border: 1px solid red;
    margin: 2rem 0;
}

/* BURGER */

.burger{
    width: calc(50% / 2);
    
    /* TEST */
    border: 1px solid red;
    margin: 2rem 0;
}

/* MAIN */

/* CONTAINER */

.demo-container{
    width: 85%;
    margin: 0 auto;
}




/* CARDS SECTION */




/* CARDS */

.card{
    width: 100%;
    background-color: #b5ddff;
    border-radius: 25px;
    margin-bottom: 2rem;
}

/* CARDS CONTAINER */

.cards-container{
    width: 80%;
    margin: 0 auto;
    padding: 2rem 0;
}

/* STORE BUTTON */

.store-button{
    margin: 1.5rem 0;
}

.store-btn{
    background-color: #0084fd;
    color: white;
    padding: 0.5rem 4rem;
    border-radius: 25px;
}

/* CARD SUBTITLE */

.card-subtitle{
    text-align: center;
}


.card-text p{
    color: #5e7384;
    font-weight: bold;
    margin: 1rem 0;
    line-height: 1.5rem;
}




/* PLANNING SECTION */




/* BACKGROUND */

.planning-background{
    background-color: #9792e4;
}

/* CONTAINER */

.planning-container{
    width: 85%;
    margin: 0 auto;
    padding-bottom: 3rem;
}

.planning-text p{
    color: white;
    padding-top: 3rem;
    padding-bottom: 1rem;
    line-height: 1.5rem;
}

/* PLANNING CARD */

.planning-card{
    width: 100%;
    background-color: white;
    border-radius: 25px;
    padding-bottom: 2rem;
    line-height: 1.5rem;
}

.planning-card-title{
    color: black;
    text-align: center;
}




/* PARTNERS SECTION */



/* PARTNERS CONTAINER */

.partners-container{
    width: 85%;
    margin: 0 auto;
    padding-bottom: 3rem;
}

/* TESTIMONIALS */

.testimonials{
    text-align: center;
    padding: 3rem 0;
}

/* TITLE */

.partners-title{
    font-size: 2.5rem;
    color: #9792e4;
    text-align: center;
}

/* TEXT */

.partners-text p{
    line-height: 1.5rem;
    padding: 3rem 0;
    text-align: center;
    font-size: 1.5rem;
}

/* PARTNERS CARDS */

.partners-card{
    width: 100%;
    background-color: #9792e4;
    color: white;
    border-radius: 25px;
    margin-bottom: 2rem;
}

.partner-cards-container{
    width: 80%;
    margin: 0 auto;
    padding: 2rem 0;
}

.partners-card-text p{
    text-align: center;
    line-height: 2rem;
    padding-bottom: 3rem;
    font-size: 1.2rem;
}

.partners-name p{
    font-size: 1.5rem;
    text-align: center;
}




/* BENEFITS SECTION */

/* BENEFITS BACKGROUND + CONTAINER */

.benefits-background{
    background-color: #9792e4;
}

.benefits-container{
        width: 80%;
        margin: 0 auto;
        padding: 2rem 0;
}

/* BENEFITS TITLE */

.benefits-title h2{
    color: white;
    font-size: 2rem;
    text-align: center
}

/* BENEFITS CARD */

.benefits-card{
    width: 100%;
    background-color: #ffffff;
    border-radius: 25px;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.benefits-cards-container{
    width: 80%;
    margin: 0 auto;
    padding: 2rem 0;
}

.uppercase-numbers{
    font-size: 3rem;
    font-weight: bold;
    color: #9792e4;
}

/* CARD SUBTITLE */

.card-subtitle h2{
    color: #9792e4;
    text-align: left;
    margin: 2rem 0;
}

.benefits-text p{
    padding-bottom: 1rem;
    line-height: 1.5rem;
}

/* CARD BUTTON */

.benefits-button{
    margin: 1.5rem 0;
}

.benefits-btn{
    background-color: #9792e4;
    color: white;
    padding: 0.7rem 4rem;
    border-radius: 25px;
}




/* ABOUT US SECTION */



/* ABOUT US CONTAINER */

.aboutus-container{
    width: 80%;
    margin: 0 auto;
    padding: 2rem 0;
}

/* ABOUT US TITLE */

.aboutus-title h2{
    color: #9792e4;
    font-size: 3rem;
    text-align: left
}

/* TEXT */

.aboutus-text p{
    margin-top: 2rem;
}

/* IMAGE */

.aboutus-image{
    padding: 3rem 0;
}

.aboutus-subtitle p{
    color: #9792e4;
    padding-bottom: 1rem;
    line-height: 1.5rem;
    font-weight: bold;
    font-size: 1.5rem;
}

/* BUTTON */

.aboutus-button{
    margin: 1.5rem 0;
}

.aboutus-btn{
    background-color: #9792e4;
    color: white;
    padding: 0.5rem 2rem;
    border-radius: 25px;
}




/* GET STARTED SECTION */

/* BACKGROUND + CONTAINER */

.getstarted-background{
    background-color: #9792e4;
}

.getstarted-container{
        width: 80%;
        margin: 0 auto;
        padding: 2rem 0;
}

/* MINI TITLE */

.getstarted-minititle{
    text-align: center;
    color: #bfbcee;

}

/* TITLE */

.getstarted-title h3{
    text-align: center;
    color: white;
    font-size: 2rem;
    margin: 2rem 0;
}

/* FREE */

.getstarted-free h2{
    color: #fdc15f;
    font-size: 3rem;
    text-align: center;
}

/* TEXT */

.getstarted-text p{
    color: white;
    text-align: center;
    margin: 2rem 0;
}

/* BUTTON */

.getstarted-button{
    padding: 1.5rem 0;
    text-align: center;
}

.getstarted-btn{
    background-color: white;
    color: #9792e4;
    padding: 1.5rem 6rem;
    border-radius: 40px;
}

/* COPYRIGHT */

.getstarted-copyright{
    margin-top: 2rem;
    text-align: center;
}



/* FOOTER */

footer{
    color: white;
    font-size: 0.7rem;
}

/* CONTAINER + BACKGROUND */

.footer-background{
    background-color: #333333;
}

.footer-container{
    width: 80%;
    margin: 0 auto;
    padding: 2rem 0;
}

/* SUBTEXT */

.footer-subtext{
    margin: 2rem 0;
}